.App {
  text-align: center;
}

body {
  background-color: #1e1e2c;
  color: #a4a4a4;
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: -1;
}

.Header {
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-color: #2d2d44;
}
input::placeholder {
  color: #1e1e2c;
}
input {
  color: #a4a4a4;
}

.Header .Search {
  text-align: right;
  margin-right: 25px;
}

.Search input {
  background-color: #3b3b5b;
  border-radius: 5px;
  border: none;
  margin: 10px;
  width: 300px;
}

.Search button {
  color: #1e1e2c;
  border: none;
  height: 100%;
  border-radius: 5px;
  background-color: #33e1ed;

}
.Icons {
  margin: 10px;
}

.line {
  border: 1px solid black;
  width: 20%;
  margin: 20px auto;
}
.city {
  padding: 50px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.compCity {
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.WeatherRow{
  columns: 5 200px;
  column-gap: 10px;
  column-rule-style: solid;
  column-rule-color: #2d2d44;
  column-width: 20%;
  margin-top: 25px;
}

.Weather {
  display: block;
  width: 100%;
  padding-top: 20px;
  orphans: 5;
}

